@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    width: 240px;
    left: -240;
    height: 100%;
    background: black;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 28px;
    color: azure;
    line-height: 70px;
    text-align: center;
    background:black ;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid  rgb(255, 255, 255, .1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;


}

a.acive, a:hover{
/*     border-left: 5px solid blueviolet; */
    color: rgb(9, 255, 0);
}

.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid black;
    margin: 15px 30px;
    font-size: 28px;
    background: black;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .3s ease;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    margin-left: 245px ;
    opacity: 0;
    visibility: hidden;
}

@media(max-width: 860px){.sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
}

header, #btn, #cancel{
    display: none;
}

span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
}

.sidebar a {
    height: 60px;
}

.sidebar a i{
    margin-left: -10px;
}

a:hover{
    width: 200px;
    background: inherit;
}

.sidebar a:hover span{
    opacity: 1;
    visibility: visible;
}

}






